/*homepage*/


/*Navbar*/

.navbar-homepage {
    padding: 15px 20px;
    z-index: 9999;
}

.navbar-homepage-pembeli-penjual {
    padding: 6px 20px;
    z-index: 9999;
}

body {
    height: 100vh;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font: 32px sans-serif;
}

.navbar .icon-category {
    cursor: pointer;
}

.navbar .btn {
    font: 14px sans-serif;
}

.navbar .collapse button {
    background: none;
    border: none;
    font: 14px sans-serif;
}

.navbar .collapse .line {
    font: 30px none;
    cursor: default;
}

.navbar-homepage-pembeli .collapse span {
    font: 14px sans-serif;
}

.pembeli-penjual {
    display: flex;
    position: fixed;
    right: 54px;
    top: 62px;
    background-color: white;
    width: 160px;
    height: 200px;
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    visibility: hidden;
    z-index: 9999;
}

.pembeli-penjualStyle {
    visibility: visible;
}

.pembeli-penjual .pembeli-penjual-2 {
    margin-top: -110px;
    margin-left: 10px;
    color: #31353BF5;
    font: 14px sans-serif;
    cursor: default;
}

.pembeli-penjual .keluar span {
    display: block;
    padding: 10px;
    margin-top: 70px;
    margin-left: -112px;
    color: #31353BF5;
    font: 14px sans-serif;
}

.pembeli-penjual .keluar h5 {
    padding: 10px;
    margin-left: -112px;
    color: #31353BF5;
    font: 14px sans-serif;
    border-radius: 5px;
}

.pembeli-penjual .keluar h6 {
    padding: 10px;
    margin-left: -112px;
    font: 14px sans-serif;
    color: #31353BF5;
    background-color: #F3F4F5;
    border-radius: 5px;
}

#bg-gelap {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.bg-gelapStyle {
    display: block !important;
}

#navbar-bg-gelap {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.navbar-bg-gelapStyle {
    display: block !important;
}

#navbar-bg-gelap2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.navbar-bg-gelap2Style {
    display: block !important;
}


/*Akhir Navbar*/


/*Masuk*/

.masuk {
    top: 108px;
    padding: 30px;
    margin: auto;
    width: 370px;
    max-height: 435px;
    background: white;
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    visibility: hidden;
    z-index: 9999;
}

.masukStyle {
    visibility: visible;
}

.masuk .icon-jasrtech {
    width: 50%;
    margin: auto;
}

.masuk .close {
    cursor: pointer;
}

.masuk .masuk-2 {
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.masuk a {
    color: #446CB3;
    text-decoration: none;
    font: 16px open sans, sans-serif;
}

.masuk label {
    color: #31353BAD;
    font: 16px open sans, sans-serif;
}

.masuk input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.masuk input:focus {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
}

.masuk .btn-login {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
    font: 16px Nunito Sans, sans-serif;
}


/*Akhir Masuk*/


/*Carousel*/

.carousel {
    position: relative;
    top: 100px;
}

.carousel .carousel-inner {
    width: 90%;
    border-radius: 15px;
}

.carousel .carousel-indicators {
    margin-left: 6%;
    margin-bottom: 5px;
    justify-content: left;
}


/*Akhir Carousel*/


/*Kategori Pilihan*/

.category-pilihan {
    position: relative;
    top: 120px;
    margin: 8px 68px;
    border-radius: 15px;
    background-color: white;
    color: #31353BF5;
    padding: 20px;
}

.category-pilihan .card-category {
    margin: 20px 30px;
    border: 2px solid #446CB3;
    border-radius: 15px;
}

.category-pilihan h1 {
    padding-left: 28px;
    font: bold 24px Nunito Sans, sans-serif;
    cursor: default;
}

.category-pilihan img {
    width: 80%;
    border-radius: 15px;
}

.category-pilihan .card-category a {
    text-decoration: none;
}

.category-pilihan span {
    color: #31353BF5;
    font: bold 16px open sans, tahoma, sans-serif;
}


/*Akhir Kategori Pilihan*/


/*Produk Rekomendasi*/

.produk {
    position: relative;
    top: 122px;
    margin: 8px 68px;
    border-radius: 15px;
    background-color: white;
    color: #31353BF5;
    padding: 20px;
}

.produk .card {
    margin: 20px 30px;
    border: 2px solid #446CB3;
    border-radius: 15px;
}

.produk h1 {
    padding-left: 28px;
    font: bold 24px Nunito Sans, sans-serif;
    cursor: default;
}

.produk img {
    width: 80%;
}

.produk .card .card-body {
    text-align: left;
}

.produk .card .card-body a {
    text-decoration: none;
}

.produk h5 {
    color: #212121;
    font: 16px open sans, tahoma, sans-serif;
}

.produk span {
    font: 14px open sans, tahoma, sans-serif;
    color: #6D7588;
}

.produk .card-body .btn-beli {
    width: 242px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: #446CB3;
}

.produk .btn-muat {
    width: 14%;
    border-radius: 15px;
    background-color: #446CB3;
    font: 16px open sans, tahoma, sans-serif;
}


/*Akhir Produk Rekomendasi*/


/*Muat Lebih Banyak*/

.muat-homepage {
    top: 38px;
}

.footer-muat-homepage {
    margin-top: -102px;
}


/*Akhir Muat Lebih Banyak*/


/*Footer*/

.info {
    position: relative;
    top: 116px;
    background-color: #3F619E;
}

.indonesia {
    cursor: default;
}

.tentang a {
    color: white;
    text-decoration: none;
}

.copyright {
    position: relative;
    top: 116px;
    background-color: #446CB3;
    cursor: default;
}


/*Akhir Footer
/*Akhir homepage*/


/*masuk*/

.bg-masuk-daftar-lupakatasandi {
    background-image: url(../assets/img/masuk-daftar-lupakatasandi.png);
}

.masukk {
    top: 114px;
    padding: 30px;
    margin: auto;
    width: 370px;
    max-height: 435px;
    background: white;
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.masukk .icon-jasrtech {
    width: 50%;
    margin: auto;
}

.masukk .masuk-2 {
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.masukk a {
    color: #446CB3;
    text-decoration: none;
    font: 16px open sans, sans-serif;
}

.masukk label {
    color: #31353BAD;
    font: 16px open sans, sans-serif;
}

.masukk input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.masukk input:focus {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
}

.masukk .btn-loginn {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
    font: 16px Nunito Sans, sans-serif;
}


/*Akhir masuk*/


/*Daftar*/

.daftarr {
    top: 74px;
    padding: 30px;
    margin: auto;
    width: 370px;
    max-height: 512px;
    background: white;
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.daftarr .icon-jasrtech {
    width: 50%;
    margin: auto;
}

.daftarr .daftar-2 {
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.daftarr a {
    color: #446CB3;
    text-decoration: none;
    font: 16px open sans, sans-serif;
}

.daftarr .sudahpunyaakun,
label {
    color: #31353BAD;
    font: 16px open sans, sans-serif;
}

.daftarr input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.daftarr input:focus {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
}

.daftarr .btn-daftar {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
    font: 16px Nunito Sans, sans-serif;
}


/*Akhir Daftar*/


/*lupakatasandi*/

.lupakatasandi {
    top: 122px;
    padding: 30px;
    margin: auto;
    width: 370px;
    max-height: 512px;
    background: white;
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.lupakatasandi .icon-jasrtech {
    width: 50%;
    margin: auto;
}

.lupakatasandi .lupakatasandi-2 {
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.lupakatasandi label {
    color: #31353BAD;
    font: 16px open sans, sans-serif;
}

.lupakatasandi input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.lupakatasandi input:focus {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
}

.lupakatasandi .btn-ok {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
    font: 16px Nunito Sans, sans-serif;
}


/*Akhir lupakatasandi*/


/*beli-produk*/

.beli-produk-homepage {
    padding: 100px 100px;
}

.footer-beli-produk {
    padding-top: auto;
}


/*Akhir beli-produk*/


/*cart*/

.cart h3 {
    margin: 95px 0px 0px 130px;
    color: #31353BF5;
    font: bold 24px Nunito Sans, sans-serif;
}

.cart .pilih label {
    color: #212121;
    font: 16px open sans, tahoma, sans-serif;
}

.cart .pilih {
    margin-left: 20px;
}

.cart .cart-2 .card {
    margin: 20px 30px;
    border: 2px solid #446CB3;
    border-radius: 15px;
}

.cart .cart-2 .card img {
    margin: auto;
    width: 70%;
}

.cart .cart-2 .jumlah .icon-minus {
    margin-right: 30px;
}

.cart .cart-2 .jumlah button {
    border: none;
    background: none;
}

.cart .cart-2 .totalharga {
    color: #31353BF5;
    font: bold 24px Nunito Sans, sans-serif;
}

.cart .cart-2 .btn-checkout {
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
}

.cart .cart-2 h5 {
    color: #212121;
    font: 16px open sans, tahoma, sans-serif;
}

.cart .cart-2 span {
    font: 14px open sans, tahoma, sans-serif;
    color: #6D7588;
}

.footer-cart {
    margin-top: -96px;
}


/*Akhir cart*/


/*seller*/

.seller .container {
    padding: 0px 50px;
    border-radius: 10px;
    background-color: #EEEEEE;
}

.seller h3 {
    margin: 100px 0px 0px 130px;
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.seller label {
    color: #31353BAD;
    font: 16px open sans, sans-serif;
}

.seller input {
    width: 30%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000061;
    display: inline-block;
}

.seller input:focus {
    width: 30%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
    display: inline-block;
}

.seller span {
    color: #31353BAD;
    font: 16px open sans, sans-serif;
}

.seller .btn-lanjut {
    width: 10%;
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
}

.footer-seller {
    margin-top: -80px;
}


/*Akhir seller*/


/*profil-pembeli*/

.profil-pembeli h3 {
    margin: 100px 0px 0px 100px;
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.profil-pembeli span {
    margin-top: 100px;
    font: 24px open sans, sans-serif;
    display: block;
}

.profil-pembeli a {
    text-decoration: none;
}

.profil-pembeli label {
    color: #31353BAD;
    font: 20px open sans, sans-serif;
}

.profil-pembeli input {
    width: 250px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.profil-pembeli input:focus {
    width: 250px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
}

.profil-pembeli .btn-password,
.profil-pembeli .btn-simpan,
.profil-pembeli .btn-batal {
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
}

.footer-profil-pembeli {
    margin-top: -80px;
}

.password-profil-pembeli {
    top: 108px;
    padding: 30px;
    margin: auto;
    width: 370px;
    max-height: 435px;
    background: white;
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    visibility: hidden;
    z-index: 9999;
}

.password-profil-pembeliStyle {
    visibility: visible;
}

.password-profil-pembeli .icon-jasrtech {
    width: 50%;
    margin: auto;
}

.password-profil-pembeli .password-profil-pembeli-2 {
    margin: 0px;
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.password-profil-pembeli label {
    color: #31353BAD;
    font: 16px open sans, sans-serif;
}

.password-profil-pembeli input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.password-profil-pembeli input:focus {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
}

.password-profil-pembeli .btn-ok {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
    font: 16px Nunito Sans, sans-serif;
}

#navbar-bg-gelap3 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.navbar-bg-gelap3Style {
    display: block !important;
}


/*Akhir profil-pembeli*/


/*profil-penjual*/

.profil-penjual h3 {
    margin: 100px 0px 0px 100px;
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.profil-penjual span {
    margin-top: 100px;
    font: 24px open sans, sans-serif;
    display: block;
}

.profil-penjual a {
    text-decoration: none;
}

.profil-penjual label {
    color: #31353BAD;
    font: 20px open sans, sans-serif;
}

.profil-penjual input {
    width: 250px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.profil-penjual input:focus {
    width: 250px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
}

.profil-penjual .btn-password,
.profil-penjual .btn-simpan,
.profil-penjual .btn-batal {
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
}

.footer-profil-penjual {
    margin-top: -80px;
}

.password-profil-penjual {
    top: 108px;
    padding: 30px;
    margin: auto;
    width: 370px;
    max-height: 435px;
    background: white;
    box-shadow: 0px -1px 9px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    visibility: hidden;
    z-index: 9999;
}

.password-profil-penjualStyle {
    visibility: visible;
}

.password-profil-penjual .icon-jasrtech {
    width: 50%;
    margin: auto;
}

.password-profil-penjual .password-profil-penjual-2 {
    margin: 0px;
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.password-profil-penjual label {
    color: #31353BAD;
    font: 16px open sans, sans-serif;
}

.password-profil-penjual input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000061;
}

.password-profil-penjual input:focus {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
}

.password-profil-penjual .btn-ok {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #446CB3;
    font: 16px Nunito Sans, sans-serif;
}

#navbar-bg-gelap4 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.navbar-bg-gelap4Style {
    display: block !important;
}


/*Akhir profil-penjual*/


/*seller-upload*/

.seller-upload h3 {
    margin: 100px 0px 0px 130px;
    color: #31353BF5;
    font: 20px Nunito Sans, sans-serif;
}

.seller-upload a {
    text-decoration: none;
}

.seller-upload label {
    color: #31353BAD;
    font: 20px open sans, sans-serif;
}

.seller-upload .upload input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #00000061;
    display: inline-block;
}

.seller-upload .upload input:focus {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #446CB3;
    box-shadow: none;
    display: inline-block;
}

.footer-seller-upload {
    margin-top: -80px;
}


/*Akhir seller-upload*/